<div id="content">
<h1 class="title">Grupo pre-cooperativo WAIKA</h1>
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#orgheadline3">Portfolio</a>
<ul>
<li><a href="#orgheadline1">GitHub links:</a></li>
<li><a href="#orgheadline2">Sitios</a></li>
</ul>
</li>
<li><a href="#orgheadline4">Equipo</a></li>
<li><a href="#orgheadline5">Fiorella Alejandra Ayala</a>
<ul>
<li><a href="#orgheadline6">Principales competencias y calificaciones:</a></li>
<li><a href="#orgheadline7">Idiomas</a></li>
<li><a href="#orgheadline8">Experiencia laboral</a></li>
</ul>
</li>
<li><a href="#orgheadline9">María Eugenia Chacón</a>
<ul>
<li><a href="#orgheadline10">Principales competencias y calificaciones:</a></li>
<li><a href="#orgheadline11">Idiomas</a></li>
<li><a href="#orgheadline12">Experiencia Laboral</a></li>
<li><a href="#orgheadline13">Educación</a></li>
<li><a href="#orgheadline14">Antecedentes académicos extracurriculares</a></li>
</ul>
</li>
<li><a href="#orgheadline21">Eugenia Soria</a>
<ul>
<li><a href="#orgheadline15">Principales competencias y calificaciones</a></li>
<li><a href="#orgheadline16">Idiomas</a></li>
<li><a href="#orgheadline17">Experiencia Laboral</a></li>
<li><a href="#orgheadline18">Educación</a></li>
<li><a href="#orgheadline19">Cursos de capacitación (últimos años):</a></li>
<li><a href="#orgheadline20">Información Adicional</a></li>
</ul>
</li>
<li><a href="#orgheadline27">Hector Bavio Garbarino</a>
<ul>
<li><a href="#orgheadline22">Principales competencias y calificaciones</a></li>
<li><a href="#orgheadline23">Idiomas</a></li>
<li><a href="#orgheadline24">Experiencia Laboral</a></li>
<li><a href="#orgheadline25">Educación</a></li>
<li><a href="#orgheadline26">Información Adicional</a></li>
</ul>
</li>
<li><a href="#orgheadline28">Ignacio Paz Posse</a>
<ul>
<li><a href="#orgheadline29">Principales competencias y calificaciones</a></li>
<li><a href="#orgheadline30">Idiomas</a></li>
<li><a href="#orgheadline31">Experiencia Laboral</a></li>
</ul>
</li>
<li><a href="#orgheadline32">Fabián Rubén Dorigo</a>
<ul>
<li><a href="#orgheadline33">Principales competencias y calificaciones</a></li>
<li><a href="#orgheadline34">Idiomas</a></li>
<li><a href="#orgheadline35">Experiencia Laboral</a></li>
<li><a href="#orgheadline36">Educación</a>
<ul>
<li><a href="#orgheadline37">Cursos de capacitación (últimos años):</a></li>
</ul>
</li>
<li><a href="#orgheadline38">Certificaciones</a></li>
<li><a href="#orgheadline39">Información Adicional</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="outline-2" id="meta">
<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Author</b></td>
<td class="org-left">ignacio paz posse (ignacio* dot* pazposse <b>at</b> gmail <b>dot</b> com)</td>
</tr>

<tr>
<td class="org-left"><b>Date</b></td>
<td class="org-left">2018-05-28 09:04:02</td>
</tr>

<tr>
<td class="org-left"><b>About</b></td>
<td class="org-left">Presentación de nuestra organización</td>
</tr>
</tbody>
</table>
</div>

<p>
Somos profesionales de sistemas conformando una nueva estructura de trabajo con la que brindar servicios para el medio. Contamos con el aval de amplias experiencias y trayectorias individuales en la producción de software para empresas nacionales y multinacionales, tanto en el país como en el exterior. 
</p>

<p>
Nuestra principal especialización se centra en el desarrollo con el framework Ruby on Rails, sumado al conocimientos de otras tecnologías y lenguajes (varias bases de datos y lenguajes como PHP, Perl, Swift o Javascript) para la producción de soluciones web y mobile. Asimismo disponemos de extensos antecedentes en el análisis de negocios y de producto, control de calidad y experiencia de usuario en aplicaciones. 
</p>

<p>
Hemos iniciado ya el proceso de agrupamiento —para constituirnos en la primera cooperativa de trabajo y tecnología, innovación y conocimiento del Noroeste Argentino (NOA)— y estamos dándonos a conocer en la búsqueda de proyectos de desarrollo en los que involucrarnos. Nos interesa tanto llevar adelante proyectos end-to-end, como así también, incorporarnos al trabajo en cualquier otra etapa de avance. Somos capaces de adaptarnos y aportar en cualquier estadío del desarrollo y/o mantenimiento de sistemas existentes.
</p>

<p>
Nos encantaría poder hablar de las necesidades y desafíos que su empresa considere o enfrente para tener confiarnos la oportunidad de trabajar en conjunto, y aportar en la aplicación de soluciones adecuadas al momento y posibilidades de su organización. 
</p>

<p>
Atentamente. 
</p>

<p>
WAYKA
</p>


<div id="outline-container-orgheadline3" class="outline-2">
<h2 id="orgheadline3">Portfolio</h2>
<div class="outline-text-2" id="text-orgheadline3">
</div><div id="outline-container-orgheadline1" class="outline-3">
<h3 id="orgheadline1">GitHub links:</h3>
<div class="outline-text-3" id="text-orgheadline1">
<ul class="org-ul">
<li>github.com/Wayka</li>
<li>github.com/jenimech</li>
<li>github.com/hrbg</li>
<li>github.com/eugeniasoria</li>
<li>github.com/Fiorella</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline2" class="outline-3">
<h3 id="orgheadline2">Sitios</h3>
<div class="outline-text-3" id="text-orgheadline2">
<p>
Algunos sitios en los que nuestros desarrolladores han trabajado:
</p>
<ul class="org-ul">
<li>Burdastyle.com</li>
<li>Vbs.tv</li>
<li>Motherboard.tv</li>
<li>Krrb.com</li>
<li>Carrylogistics.com</li>
<li>Cloudsponge.com</li>
<li>Ericksonstock.com</li>
<li>Craftfoxes.com</li>
<li>thinkthroughmath.com</li>
<li>a.scholastic.com</li>
</ul>
</div>
</div>
</div>

<div id="outline-container-orgheadline4" class="outline-2">
<h2 id="orgheadline4">Equipo</h2>
<div class="outline-text-2" id="text-orgheadline4">
<div class="equipo">
<ul class="org-ul">
<li>Fiorella Alejandra Ayala</li>
</ul>
<p>
Sr. Desarrolladora (Ruby on Rails) <a href="https://www.linkedin.com/in/fiorella-ayala-83a30389/">LinkedIn</a>
</p>
<ul class="org-ul">
<li>María Eugenia Chacón</li>
</ul>
<p>
Sr. Desarrolladora (Ruby on Rails) <a href="https://www.linkedin.com/in/jenimech/">LinkedIn</a>
</p>
<ul class="org-ul">
<li>Eugenia Soria – DevOps Engineer</li>
</ul>
<p>
Jr. Desarrolladora (Ruby on Rails) <a href="https://www.linkedin.com/in/eugenia-soria-94208210/">LinkedIn</a>
</p>
<ul class="org-ul">
<li>Héctor Bavio</li>
</ul>
<p>
Sr. Desarrolladora (Ruby on Rails) <a href="https://www.linkedin.com/in/hectorbavio/">LinkedIn</a>
</p>
<ul class="org-ul">
<li>Ignacio Paz Posse</li>
</ul>
<p>
Sr. Desarrollador (Front End) Business Analyst <a href="https://www.linkedin.com/in/ignacio-paz-posse-9bba9219/">LinkedIn</a>
</p>
<ul class="org-ul">
<li>Fabián Dorigo</li>
</ul>
<p>
Sr. Business analyst – Scrum master <a href="http://www.linkedin.com/in/fabiandorigo">LinkedIn</a>
</p>

</div>
</div>
</div>

<div id="outline-container-orgheadline5" class="outline-2">
<h2 id="orgheadline5">Fiorella Alejandra Ayala</h2>
<div class="outline-text-2" id="text-orgheadline5">
<p>
Ingeniera de Software con Licenciatura en Sistemas. Desarrolladora de software. Fiorella tiene más de seis años de experiencia en desarrollo de software, aplicando las mejores prácticas y metodologías ágiles, con énfasis en Ruby on Rails y JavaScript.
Desde que comenzó con Ruby on Rails, trabajo principalmente en back-end en ubuntu.
A Fiorella le gusta investigar, buscar nuevos desafíos, aplicar el desarrollo ágil en cada uno de sus proyectos, incluyendo  las mejores prácticas de desarrollo y trabajo en equipo. Su objetivo principal es crecer personal y profesionalmente, y generar cambios positivos a través del desempeño laboral.
</p>
</div>


<div id="outline-container-orgheadline6" class="outline-3">
<h3 id="orgheadline6">Principales competencias y calificaciones:</h3>
<div class="outline-text-3" id="text-orgheadline6">
<div class="competencias">
<ul class="org-ul">
<li>Development</li>
<li>Ruby</li>
<li>Ruby on Rails</li>
<li>Javascript</li>
<li>BDD</li>
<li>Rspec</li>
<li>CSS</li>
<li>Estimation</li>
<li>JQuery</li>
<li>Ajax</li>
<li>AngularJS</li>
<li>Git</li>
<li>Heroku</li>
<li>GitHub</li>
<li>BitBucket</li>
<li>Digital Ocean</li>
<li>Problem Solving</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
<li>Ubuntu</li>
<li>SQL</li>
<li>HTML</li>
</ul>

</div>
</div>
</div>

<div id="outline-container-orgheadline7" class="outline-3">
<h3 id="orgheadline7">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline7">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (intermediate)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline8" class="outline-3">
<h3 id="orgheadline8">Experiencia laboral</h3>
<div class="outline-text-3" id="text-orgheadline8">
<p>
<b>Dic 2017 – Actual.</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)</li>
<li>Desarrolladora Senior (Ruby on Rails)</li>
<li>Contagram, Buenos Aires, Argentina</li>
<li>Desarrolladora</li>
<li>Sass para administrar pymes en Argentina</li>
<li>desarrollo de Back end - Rails</li>
<li>desarrollo de Front end - JQuery</li>
<li>desarrollo de nuevos requerimientos</li>
<li>BDD con Rspec</li>
<li>arreglos de bugs</li>
</ul>

<p>
<b>Dic 2016 – Abr 2017</b>
</p>
<ul class="org-ul">
<li>Vrtify Inc, Buenos Aires, Argentina</li>
<li>Desarrolladora</li>
<li>Sitio para disfrutar música y realidad virtual</li>
<li>desarrollo de Back end - Rails</li>
<li>desarrollo de Front end - AngularJS</li>
<li>desarrollo de nuevos requerimientos</li>
<li>BDD con Rspec</li>
<li>arreglos de bugs</li>
</ul>

<p>
<b>Nov 2014 – Nov 2016</b>
</p>
<ul class="org-ul">
<li>Hashdog Software Factory, Tucuman, Argentina</li>
<li>Desarrolladora</li>
<li>Proyectos en los que trabajó:</li>
<li>Paleohacks. Sitio de consultas respecto a la dieta paleolítica.</li>
<li>RxR. Analisis de Social media, integracion con Facebook, Twitter y LinkedIn.</li>
<li>Forte Elements. Ventas de productos.</li>
<li>Shop Maxwell. Ventas de productos.</li>
<li>IntentExpert. Tecnología de Marketing para personalizar emails and sitios dinámicos.</li>
</ul>

<p>
<b>Feb 2014 – Dic 2014</b>
</p>
<ul class="org-ul">
<li>I.O.S. Cor, Corrientes, Argentina</li>
<li>Desarrolladora</li>
<li>Sistema de gestión de Obra Social. Sistema institucional</li>
<li>desarrollo de Back end - Rails</li>
<li>desarrollo de Front end</li>
<li>desarrollo de nuevos requerimientos</li>
</ul>

<p>
<b>Feb 2016 – Jun 2016</b>
</p>
<ul class="org-ul">
<li>IPCorp, Corrientes, Argentina</li>
<li>Desarrolladora</li>
<li>Proyectos en los que trabajó:</li>
<li>ISIFAR. POS sistema de farmacia. Administración de Droguería.</li>
<li>I.O.S.Cor. Sistema de gestión de Obra Social. Sistema institucional.</li>
</ul>
</div>
</div>
</div>


<div id="outline-container-orgheadline9" class="outline-2">
<h2 id="orgheadline9">María Eugenia Chacón</h2>
<div class="outline-text-2" id="text-orgheadline9">
<p>
Propósito del trabajo: Mi objetivo es encontrar nuevas oportunidades de crecimiento y capacitación profesional en un ambiente de trabajo que permita ese crecimiento. De este modo deseo contribuir al engrandecimiento de mi organización utilizando mi conocimiento, experiencia y habilidades.
</p>
</div>

<div id="outline-container-orgheadline10" class="outline-3">
<h3 id="orgheadline10">Principales competencias y calificaciones:</h3>
<div class="outline-text-3" id="text-orgheadline10">
<div class="competencias">
<ul class="org-ul">
<li>Development</li>
<li>Ruby on Rails</li>
<li>MySQL</li>
<li>Ruby on Rails:</li>
<li>Rails versions 1.2.x, 2.3.x, 3.1</li>
<li>Ruby versions 1.8.6, .1.8.7, 1.9.2</li>
<li>MySQL</li>
<li>Postgres</li>
<li>Sqlite</li>
<li>Jquery</li>
<li>CSS</li>
<li>Haml</li>
<li>Slim</li>
<li>Git</li>
<li>Capistrano</li>
<li>Engineyard</li>
<li>Heroku tools</li>
<li>Rvm</li>
<li>Delay_jobs</li>
<li>Resque</li>
<li>Redis</li>
<li>Sphinx</li>
<li>Devise</li>
<li>Omniauth</li>
<li>Sendgrid</li>
<li>Rspec</li>
<li>Capybara</li>
<li>Active_admin</li>
<li>Heroku</li>
<li>Coffescript</li>
<li>Jquery</li>
<li>Backbone</li>
<li>Docker</li>
<li>Postgres</li>
<li>Problem Solving</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
</ul>

</div>
</div>
</div>


<div id="outline-container-orgheadline11" class="outline-3">
<h3 id="orgheadline11">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline11">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (Intermediate)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline12" class="outline-3">
<h3 id="orgheadline12">Experiencia Laboral</h3>
<div class="outline-text-3" id="text-orgheadline12">
<p>
<b>Dic 2017 – Actual</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)</li>
</ul>
<p>
Desarrolladora Senior (Ruby on Rails)
</p>

<p>
<b>Jun 2016 – Actual</b>
</p>
<ul class="org-ul">
<li>Globant, Tucumán, Argentina</li>
</ul>
<p>
Desarrolladora Senior (Ruby on Rails)
</p>
<ul class="org-ul">
<li>Backend</li>
<li>Frontend</li>
<li><a href="https://www.thinkthroughmath.com/">https://www.thinkthroughmath.com/</a></li>
<li><a href="http://la.scholastic.com/">http://la.scholastic.com/</a></li>
<li><a href="https://g-look.herokuapp.com/">https://g-look.herokuapp.com/</a></li>
</ul>

<p>
<b>Oct 2015 – Mar 2016</b>
</p>
<ul class="org-ul">
<li>CarryLogistic / Antifragile, USA</li>
<li>Desarrolladora Freelance (Ruby on Rails)</li>
<li>Backend</li>
<li>Sidekiq</li>
<li>ElasticSearch</li>
<li>PublicActivity</li>
<li>Honeybadger</li>
<li>WickedPdf</li>
<li>Stripe</li>
<li>Newrelic</li>
<li>Tinymce</li>
</ul>

<p>
<b>Ene 2015 – Jul 2015</b>
</p>
<ul class="org-ul">
<li>CarryLogistic / Antifragile, USA</li>
</ul>
<p>
Desarrolladora Freelance (Ruby on Rails)
</p>
<ul class="org-ul">
<li>carry-logistics.herokuapp.com/ (front-end &amp;  back-end)</li>
<li>antifragile.herokuapp.com/  ( front-end,  back-end &amp; test coverage)</li>
</ul>

<p>
<b>Jun 2014 – Dic 2014</b>
</p>
<ul class="org-ul">
<li>Hashdog  Team</li>
</ul>
<p>
Desarrolladora Backend (Ruby on Rails)
</p>

<p>
<b>Nov 2011 – Sep 2013</b>
</p>
<ul class="org-ul">
<li>PresicionAds.com. Virginia, USA</li>
</ul>
<p>
Desarrolladora Freelance (Ruby on Rails)
Desarrollo nueva versión de presicionads.com  with rails 3
</p>

<p>
<b>Abr 2012 – Jun 2012</b>
</p>
<ul class="org-ul">
<li>uuau.com.ar (beta version) , Buenos Aires, Argentina</li>
</ul>
<p>
Desarrolladora Freelance (Ruby on Rails)
</p>

<p>
<b>Dic 2011 – Mar 2012</b>
</p>
<ul class="org-ul">
<li>Maypun SRL, Buenos Aires, Argentina</li>
</ul>
<p>
Desarrolladora (Ruby on Rails)
Ampliación de funcionalidades prodebook.com site
</p>

<p>
<b>Abr 2008 – Nov  2011</b>
</p>
<ul class="org-ul">
<li>Insignia4u</li>
</ul>
<p>
Desarrolladora
</p>

<p>
<b>Oct 2009 – Feb 2010</b>
</p>
<ul class="org-ul">
<li>Distributor Manfrey of Ruben Lach, Tucuman, Argentina</li>
</ul>
<p>
Desarrolladora
Desarrollo de aplicación de control de stock y ventas
</p>

<p>
<b>Mar 2009 – Ago 2009</b>
</p>
<ul class="org-ul">
<li>Cedyc,  Tucuman, Argentina.</li>
</ul>
<p>
Consulting
Auditora. Desarrolladora. Herramienta para control de Ventas Consecionaria Alperovich.
</p>
</div>
</div>

<div id="outline-container-orgheadline13" class="outline-3">
<h3 id="orgheadline13">Educación</h3>
<div class="outline-text-3" id="text-orgheadline13">
<p>
<b>2002 – 2007</b>
</p>
<ul class="org-ul">
<li>Universidad Nacional de Tucumán  – UNT, Tucumán, Argentina</li>
</ul>
<p>
Desarrolladora de Sistemas Prom.: 7.25
</p>

<p>
<b>1998 – 2002</b>
</p>
<ul class="org-ul">
<li>Universidad Tecnológica Nacional  – UTN, Tucumán, Argentina</li>
</ul>
<p>
Analista de Sistemas 
</p>
</div>
</div>

<div id="outline-container-orgheadline14" class="outline-3">
<h3 id="orgheadline14">Antecedentes académicos extracurriculares</h3>
<div class="outline-text-3" id="text-orgheadline14">
<p>
<b>2008 – 2009</b>
</p>
<ul class="org-ul">
<li>Universidad Nacional de Tucumán – UNT, Tucumán, Argentina</li>
<li>Servicio de Ayudantía Estudiantil "Programación I" (posición obtenida por concurso)</li>
</ul>
</div>
</div>
</div>

<div id="outline-container-orgheadline21" class="outline-2">
<h2 id="orgheadline21">Eugenia Soria</h2>
<div class="outline-text-2" id="text-orgheadline21">
</div><div id="outline-container-orgheadline15" class="outline-3">
<h3 id="orgheadline15">Principales competencias y calificaciones</h3>
<div class="outline-text-3" id="text-orgheadline15">
<div class="competencias">
<ul class="org-ul">
<li>Development</li>
<li>Git</li>
<li>Github</li>
<li>Github server</li>
<li>Javascript</li>
<li>NodeJS</li>
<li>ReactJS</li>
<li>Ruby on Rails</li>
<li>Bitbucket Server</li>
<li>Jenkins</li>
<li>VMWare</li>
<li>Nagios</li>
<li>Windows Administration</li>
<li>Linux Administration (CentOS).</li>
<li>Jira</li>
<li>Confluence</li>
<li>Batch</li>
<li>Powershell, Shell</li>
<li>Delphi</li>
<li>NET Framework.</li>
<li>VersionOne.</li>
<li>Puppet, ruby for puppet</li>
<li>Transact SQL</li>
<li>PowerBuilder</li>
<li>Powerscript</li>
<li>PowerDesigner</li>
<li>Java</li>
<li>Apache Tomcat</li>
<li>Visual Studio - C#</li>
<li>Sybase</li>
<li>MS Office Package</li>
<li>Sybase</li>
<li>Problem Solving</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
<li>SQL</li>
<li>HTML</li>
</ul>

</div>
</div>
</div>

<div id="outline-container-orgheadline16" class="outline-3">
<h3 id="orgheadline16">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline16">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (Advanced)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline17" class="outline-3">
<h3 id="orgheadline17">Experiencia Laboral</h3>
<div class="outline-text-3" id="text-orgheadline17">
<p>
<b>Dic 2017 – Actual</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)</li>
</ul>
<p>
Programadora Jr. / DevOps Engineer
Programación. Actividades de Devops y Configuración inicial (desarrollo y operación)
Roles y responsabilidades 
Desarrollo de la Web page de la cooperativa.
</p>

<p>
<b>Dic 2016 – Actual</b>
</p>
<ul class="org-ul">
<li>Sovos, Tucumán, Argentina</li>
</ul>
<p>
Ingeniera DevOps                              
Migración de Github Enterprise a Bitbucket Server. Monitoreo de servidores usando Nagios. Herramientas Web para desarrollos internos.
Asegurar la transición de un producto desde el desarrollo a la producción de una manera eficiente y de calidad.
Soporte para equipos de desarrollo hasta que los productos estén en producción. Procesos de automatización en torno a la entrega de software, elección de herramientas apropiadas, proceso de estandarización, búsqueda de posibles herramientas. Monitoreo de procesos.
Creación y mantenimiento de máquinas virtuales de desarrollo
</p>

<p>
<b>Sep 2013 – Abr 2015</b>
</p>
<ul class="org-ul">
<li>Sovos, Tucumán, Argentina</li>
</ul>
<p>
Configuration Management Engineer
Migración desde un sistema de control de versiones interno a git con github y github Enterprise.
Migración desde un sistema de integración y compilación de terceros a Jenkins.
Migración desde un sistema interno a Puppet.
Configuración, mantenimiento y mejora de procesos SDLC (ciclo de vida de desarrollo de software).
Proceso de estandarización, capacitación y soporte.
Creación de paquetes e implementación de productos.
Automatización de procesos de integración continua (CI) con git y Jenkins
</p>

<p>
<b>Mar 2007 – Sep 2013</b>
</p>
<ul class="org-ul">
<li>Censys S.A., Tucumán, Argentina</li>
</ul>
<p>
Analista programador Senior, responsable del equipo de Herramientas
Gestión y seguimiento de proyectos Desarrollo y mantenimiento, implementación de herramientas.
Actividades de soporte para programadores y analistas en la empresa al enviar actualizaciones.
Investigación y desarrollo inicial para proyectos iniciales.
Preparación del presupuesto (horas y recursos) y planes de trabajo para proyectos internos y de clientes
Algunos proyectos en los que participó:
</p>
<ul class="org-ul">
<li>Investigación y desarrollo inicial: Java Web Services, .NET Web Services, mejoras para productos existentes (diseño y mejoras de programación)</li>
<li>Implementación de control estándar: programación y herramientas de control de diseño construcción, herramientas automáticas de generación de código</li>
<li>Entrenamientos internos: uso de herramientas, Sybase y PowerBuilder (para nuevos empleados)</li>
<li>Entrenamientos de clientes: uso de herramientas para la gestión de proyectos y el instalador de versiones</li>
<li>Rol activo en la recopilación de datos y la implementación de mejoras asociadas con las certificaciones: CMMI 2, ISO 9000 e ISO 27001/2007</li>
</ul>

<p>
<b>Nov 2018 – Dic  2008</b>
</p>
<ul class="org-ul">
<li>Censys S.A. – UNSTA, Tucumán, Argentina                     
Dictado de curso de capacitación para la formación de especialistas en programación PowerBuilder y Sybase en la UNSTA (Universidad del Norte Santo Tomás de Aquino) para estudiantes universitarios</li>
</ul>
<p>
Sybase
Transact SQL
PowerBuilder
Powerscript
</p>

<p>
<b>Mar 2005 – Mar 2007</b>
</p>
<ul class="org-ul">
<li>Censys S.A., Tucumán, Argentina</li>
</ul>
<p>
Analista programador, equipo de Herramientas
Desarrollo, mantenimiento y soporte de herramientas auxiliares e internas.
</p>

<p>
<b>Dic 2003 – Mar 2005</b>
</p>
<ul class="org-ul">
<li>Censys S.A., Tucumán, Argentina</li>
</ul>
<p>
Analista de documentación
Recopilación de información y creación de manuales de usuario para sistemas bancarios y productos relacionados.
Documentación técnica de productos: diagramas de relación de entidad
</p>
</div>
</div>


<div id="outline-container-orgheadline18" class="outline-3">
<h3 id="orgheadline18">Educación</h3>
<div class="outline-text-3" id="text-orgheadline18">
<p>
<b>1998 – 2004</b>
</p>
<ul class="org-ul">
<li>Universidad Tecnológica Nacional  – UTN, Tucumán, Argentina</li>
</ul>
<p>
Ingeniera en Sistemas de Información
</p>

<p>
<b>1998 – 2002</b>
</p>
<ul class="org-ul">
<li>Universidad Tecnológica Nacional  – UTN, Tucumán, Argentina</li>
</ul>
<p>
Analista de sistemas 
</p>
</div>
</div>

<div id="outline-container-orgheadline19" class="outline-3">
<h3 id="orgheadline19">Cursos de capacitación (últimos años):</h3>
<div class="outline-text-3" id="text-orgheadline19">
<p>
<b>2014</b>
</p>
<ul class="org-ul">
<li>Oracle DataBase 10g: PL/SQL Fundamentals</li>
</ul>

<p>
<b>2013</b>
</p>
<ul class="org-ul">
<li>Scrum from the trenches. Be part of the agile team</li>
</ul>

<p>
<b>2011</b>
Object Oriented Analysis Course a cargo de Ing. Maximiliano Odstrcil            
</p>

<p>
<b>2011</b>
</p>
<ul class="org-ul">
<li>Introduction to .NET in charge of Roberto Schatz</li>
</ul>

<p>
<b>2010</b>
</p>
<ul class="org-ul">
<li>Moving to PowerBuilder 11 Course in charge of a Sybase Argentina instructor</li>
</ul>
<p>
New ways of thinking in enterprise systems journeys dictado por PhD Arturo Corrales de
</p>

<p>
<b>2009</b>
</p>
<ul class="org-ul">
<li>FANN Master Degree Department</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline20" class="outline-3">
<h3 id="orgheadline20">Información Adicional</h3>
<div class="outline-text-3" id="text-orgheadline20">
<p>
Visa EEUU vigente
</p>

<p>
<span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline"><span class="underline">_</span></span></span></span></span></span></span></span></span></span></span>
</p>
</div>
</div>
</div>

<div id="outline-container-orgheadline27" class="outline-2">
<h2 id="orgheadline27">Hector Bavio Garbarino</h2>
<div class="outline-text-2" id="text-orgheadline27">
</div><div id="outline-container-orgheadline22" class="outline-3">
<h3 id="orgheadline22">Principales competencias y calificaciones</h3>
<div class="outline-text-3" id="text-orgheadline22">
<div class="competencias">
<ul class="org-ul">
<li>Development</li>
<li>Ruby on Rails</li>
<li>MySQL</li>
<li>Postgres</li>
<li>Sqlite</li>
<li>Javascript</li>
<li>Jquery</li>
<li>CSS</li>
<li>Haml</li>
<li>Slim</li>
<li>Capistrano</li>
<li>Engineyard</li>
<li>Heroku Tools</li>
<li>RVM</li>
<li>Redis</li>
<li>Resque</li>
<li>Swift</li>
<li>Problem Solving</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
<li>HTML</li>
</ul>

</div>
</div>
</div>


<div id="outline-container-orgheadline23" class="outline-3">
<h3 id="orgheadline23">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline23">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (Advanced)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline24" class="outline-3">
<h3 id="orgheadline24">Experiencia Laboral</h3>
<div class="outline-text-3" id="text-orgheadline24">
<p>
<b>Dic 2017 – Actual</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)                   
Desarrollador Senior (Ruby on Rails)</li>
</ul>

<p>
<b>Ene 2016 - Actual</b>
</p>
<ul class="org-ul">
<li>Carry Logistic, USA                                           
Desarrollador Senior, desarrollo y mantenimiento del sitio web carrylogistic.com</li>
</ul>

<p>
<b>Abr 2012 – Dic 2015</b>
</p>
<ul class="org-ul">
<li>Arizona Bay, USA                                       
Desarrollador Senior, desarrollo y mantenimiento de sitios web tales como:</li>
<li>fundraise.com</li>
<li>cloudsponge.com</li>
<li>ericksonstock.com</li>
</ul>

<p>
<b>Dic 2011 – Abr 2012</b>
</p>
<ul class="org-ul">
<li>PrecisionAds.com                                       
Desarrollador Freelance</li>
</ul>

<p>
<b>Dic 2011 – Mar 2012</b>
</p>
<ul class="org-ul">
<li>Maypun SRL, Buenos Aires, Argentina                            
Desarrollador Senior (Ruby on Rails)
Ampliación de funcionalidades en el sitio prodebook.com</li>
</ul>

<p>
<b>Sept 2009 – Nov 2011</b>
</p>
<ul class="org-ul">
<li>Insignia4u</li>
</ul>
<p>
Desarrollador, desarrollo y mantenimiento de sitios web tales como:
</p>
<ul class="org-ul">
<li>krrb.com</li>
<li>deringall.com</li>
<li>craftfoxes.com</li>
<li>burdastyle.com</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline25" class="outline-3">
<h3 id="orgheadline25">Educación</h3>
<div class="outline-text-3" id="text-orgheadline25">
<ul class="org-ul">
<li>Universidad Nacional de Tucumán  – UNT, Tucumán, Argentina</li>
<li>Desarrollador de sistemas</li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline26" class="outline-3">
<h3 id="orgheadline26">Información Adicional</h3>
<div class="outline-text-3" id="text-orgheadline26">
<p>
Visa EEUU vigente
</p>
</div>
</div>
</div>

<div id="outline-container-orgheadline28" class="outline-2">
<h2 id="orgheadline28">Ignacio Paz Posse</h2>
<div class="outline-text-2" id="text-orgheadline28">
<p>
Ignacio se ha desempeñado exitosamente como diseñador gráfico, desarrollador web y analista funcional de negocios. Cuenta con una amplia experiencia en tecnologías back-end y front-end, y se ha especializado en sistemas dinámicos con soporte de bases de datos; con experiencia en web y dispositivos móviles.
</p>
</div>

<div id="outline-container-orgheadline29" class="outline-3">
<h3 id="orgheadline29">Principales competencias y calificaciones</h3>
<div class="outline-text-3" id="text-orgheadline29">
<div class="competencias">
<ul class="org-ul">
<li>Php</li>
<li>Perl</li>
<li>Wordpress</li>
<li>Codeigniter</li>
<li>Template Toolkit</li>
<li>mySql</li>
<li>PostgreSQL</li>
<li>webSQL</li>
<li>javascript (jQuery/Raphael/extJS sencha, Yui, React)</li>
<li>regular expressions</li>
<li>git / svn</li>
<li>shell scripting &amp; unix tools  (awk, sed, xargs, etc)</li>
<li>mobile apps (cordova/PhoneGap framework)</li>
<li>(x)html / html5 css (sass / compass)</li>
<li>Photoshop</li>
<li>Illustrator / Inkscape / QuarkXpress</li>
<li>Pagemaker / Indesign</li>
<li>Customer Orientation</li>
<li>Problem Solving and Thinking Skills</li>
<li>Business Analysis</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
<li>Windows - Mac - Linux platforms</li>
</ul>

</div>
</div>
</div>

<div id="outline-container-orgheadline30" class="outline-3">
<h3 id="orgheadline30">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline30">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (advanced)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline31" class="outline-3">
<h3 id="orgheadline31">Experiencia Laboral</h3>
<div class="outline-text-3" id="text-orgheadline31">
<p>
<b>Dic 2017 – Actual</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)                    
Desarrollador Senior (Frontend) – Business Analyst – Diseñador 
Desarrollando la presencia web de la organización ]</li>
</ul>

<p>
<b>Abr 2016 – Actual</b>
</p>
<ul class="org-ul">
<li>Sovos, Tucumán, Argentina</li>
</ul>
<p>
Business Analyst 
Análisis y orientación de producto, redactando los requisitos y especificaciones necesarios para el desarrollo para varios equipos  de trabajo. Su rol de BA para una compañía tecnológica como ésta -que trabaja con a la mitad de las 500 empresas de Fortune en todo el mundo- lo sitúa en la intersección de la investigación de los  marcos regulatorios legales y las especificaciones técnicas necesarias para construir y adaptar software funcional en los tiempos requeridos por el mercado.
</p>

<p>
<b>Ago 2014   Actual</b>
</p>
<ul class="org-ul">
<li>Freelance programmer, Tucumán, Argentina</li>
</ul>
<p>
Desarrollador de Mobile apps                             
Desarrollo de soluciones personalizadas basadas en un software propio con tecnologías de código abierto. Desarrollo de aplicaciones móviles
</p>

<p>
<b>Mar 2014   Ago 2014</b>
</p>
<ul class="org-ul">
<li>UX Department, Tucumán, Argentina</li>
</ul>
<p>
Desarrollador Front end                             
</p>

<p>
<b>Oct 2012 – Dic 2013</b>
</p>
<ul class="org-ul">
<li>Universidad de Cuyo, Mendoza, Argentina</li>
</ul>
<p>
Desarrollador                         
Desarrollo de aplicación para administrar registros clínicos, realizar un seguimiento de la condición y los tratamientos de los pacientes; y construir subsistemas (odontogramas, planeador del uso de equipos especializados por estudiantes de odontología en cursos de posgrado, etc),  para la Facultad de Odontología de la Universidad de Cuyo en Mendoza, Argentina.
</p>

<p>
<b>2010 – 2013</b>
</p>
<ul class="org-ul">
<li>Champagnat University, Mendoza, Argentina</li>
</ul>
<p>
Desarrollador líder                     
A cargo del mantenimiento y ampliación de un sistema académico y contable LAMP personalizado para la Universidad. 
Creación de una aplicación de inteligencia empresarial con consultas dinámicas y procesamiento de una gran cantidad de información económica y académica almacenada en bases de datos
Desarrollo de un sistema en línea para administrar y consultar las calificaciones de los alumnos.
</p>

<p>
<b>2006 – 2008</b>
</p>
<ul class="org-ul">
<li>Shimberg Center for Housing Studies, USA</li>
</ul>
<p>
Desarrollador Front-End                             
Mantenimiento y modernización del sitio web, www.data.shimberg.ufl.edu, —un repositorio de estadísticas sobre viviendas para la coordinación de políticas habitacionales en Florida, que recibió reconocimiento nacional tras el trabajo de rediseño (<a href="http://www.planetizen.com/websites/2008">http://www.planetizen.com/websites/2008</a>).
</p>

<p>
<b>2006 – 2008</b>
</p>
<ul class="org-ul">
<li>EccoUF Project, Florida, USA</li>
</ul>
<p>
Desarrollador Web                             
Desarrollo de un sitio web dotado de un foro hecho a medida para vincular y comunicar el trabajo de un proyecto entre la Universidad de Florida con ONGs conservacionistas de Ecuador y Colombia.
</p>

<p>
<b>2005</b>
</p>
<ul class="org-ul">
<li>Wildlife Conservation Society, American NGO, Papua, Nueva Guinea</li>
</ul>
<p>
Graphic designer                             
Diseño y edición de libro educativo. Diseño de flyers y cartelería (fauna nativa).
</p>

<p>
<b>2003 – 2005</b>
</p>
<ul class="org-ul">
<li>United States Department of Agriculture (USDA), USA</li>
</ul>
<p>
Web developer                             
Desarrollo de un motor de búsqueda personalizado en varias bases de datos internas y mantenimiento del sitio web. 
</p>

<p>
<b>2003</b>
</p>
<ul class="org-ul">
<li>University of Florida, USA</li>
</ul>
<p>
Webmaster                             
</p>

<p>
<b>2001 – 2003</b>
</p>
<ul class="org-ul">
<li>Forest Managment Trust, USA</li>
</ul>
<p>
Diseñador Gráfico – Webmaster                               
</p>

<p>
<b>1988 – 2000</b>
</p>
<ul class="org-ul">
<li>Freelance activity</li>
</ul>
<p>
Fotógrafo Freelance y diseñador gráfico                                          
</p>
</div>
</div>
</div>


<div id="outline-container-orgheadline32" class="outline-2">
<h2 id="orgheadline32">Fabián Rubén Dorigo</h2>
<div class="outline-text-2" id="text-orgheadline32">
<p>
Fabian tiene una gran experiencia en análisis de negocios y gestión de proyectos. Vasta instrucción académica y extensa experiencia de trabajo administrando proyectos usando diferentes metodologías (UP, XP y Scrum). Si bien tiene un perfil comercial también posee una gran tendencia a aprender y probar nuevas prácticas, metodologías y tecnologías. Fuertes habilidades analíticas. Habilidades de comunicación con enfoque en los clientes y las necesidades de los miembros del equipo. Más de veinte años de experiencia en desarrollo de sistemas.
</p>
</div>

<div id="outline-container-orgheadline33" class="outline-3">
<h3 id="orgheadline33">Principales competencias y calificaciones</h3>
<div class="outline-text-3" id="text-orgheadline33">
<div class="competencias">
<ul class="org-ul">
<li>Advanced Business Analysis</li>
<li>Team leadership</li>
<li>User stories/epics definition</li>
<li>Requirements analysis and negotiation</li>
<li>Story mapping</li>
<li>Leadership</li>
<li>Discipline</li>
<li>Customer Orientation</li>
<li>Problem Solving</li>
<li>Teamwork</li>
<li>Agile Methodologies</li>
<li>Project Tracking Tools</li>
<li>Collaboration Tools</li>
<li>Windows</li>
<li>SQL</li>
<li>HTML</li>
<li>iOS</li>
<li>Android</li>
</ul>

</div>
</div>
</div>

<div id="outline-container-orgheadline34" class="outline-3">
<h3 id="orgheadline34">Idiomas</h3>
<div class="outline-text-3" id="text-orgheadline34">
<ul class="org-ul">
<li>Español (nativo)</li>
<li>Inglés (advanced)</li>
<li>Portugués (initial)</li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline35" class="outline-3">
<h3 id="orgheadline35">Experiencia Laboral</h3>
<div class="outline-text-3" id="text-orgheadline35">
<p>
<b>Dic 2017  Actual</b>
</p>
<ul class="org-ul">
<li>Cooperativa Wayka (En formación. Expte. 506/450 - 18)</li>
</ul>
<p>
Analista de Negocios Senior Advance – Scrum Master
</p>

<p>
<b>Nov 2017 – Actual</b>
</p>
<ul class="org-ul">
<li>Globant - IamAt, Tucumán/Bs. As. Argentina</li>
</ul>
<p>
Product Manager
Analista de Negocios Senior Advance Mi Telefe app (Martín Fierro digital “mejor app” 2018)
</p>

<p>
<b>May 2015 – Nov 2017</b>
</p>
<ul class="org-ul">
<li>Globant, Tucuman, EEUU, España, Argentina</li>
</ul>
<p>
Analista de Negocios Senior Advance / Scrum Master / Project Manager / Agile coach
</p>
<ul class="org-ul">
<li>Deloitte USA - Architecture Support Reed Online project</li>
<li>POD Web Privada OpenBank (Madrid) / Iberdrola Bank of Energy (Bilbao)</li>
<li>Southwest Airlines projects</li>
</ul>
<p>
Head of Software Development teams incluyendo Baseline, Release and Infrastructure Level 3 support
</p>

<p>
<b>Ene 2014 – Ene 2015</b>
</p>
<ul class="org-ul">
<li>Tipit (www.tipit.net), Austin, TX, USA</li>
</ul>
<p>
QA &amp; QC Líder remoto (Free Lance)    
</p>

<p>
<b>Jun 2010 – May 2015</b>
</p>
<ul class="org-ul">
<li>Censys S.A., Tucumán Argentina</li>
</ul>
<p>
Global Business Analyst
</p>

<p>
<b>Nov 2007 – Mar 2010</b>
</p>
<ul class="org-ul">
<li>ITelligent, Buenos Aires, Argentina – Berlín, Alemania</li>
</ul>
<p>
Project Manager - QA &amp; QC Líder
</p>

<p>
<b>Abril 2007 – Nov 2007</b>
</p>
<ul class="org-ul">
<li>TELECOM S.A.</li>
</ul>
<p>
Especialista en diseño de procesos – Auditor de sistemas Sr.
</p>

<p>
<b>Ago 2004 – Dic 2006</b>
</p>
<ul class="org-ul">
<li>Idea Factory Software (SEI CMM level 3)</li>
</ul>
<p>
Líder de Control de Calidad y testing - CRDS (Customer Requirements Definition Specialist) – Consultor de Negocios para el Banco de Neuquén (Cash Management)
</p>

<p>
<b>Oct 2003 – July 2004</b>
</p>
<ul class="org-ul">
<li>IBM Argentina</li>
</ul>
<p>
Analista de negocios Sr.
</p>

<p>
<b>Nov 2002 – Ago 2003</b>
</p>
<ul class="org-ul">
<li>Editora Planeta de Brasil</li>
</ul>
<p>
Consultor de sistemas
</p>

<p>
<b>2000 – Jun 2001</b>
_ Citibank, N.A. Global Corporate Bank – e-Banking Solutions Latin America Mar  
MSE LATAM Trade (Matter Subject Expert – International Trade)
</p>

<p>
<b>Feb 1999 – Feb 2000</b>
</p>
<ul class="org-ul">
<li>Banco Tornquist S.A.</li>
</ul>
<p>
Líder de Proyectos (Tarjetas de Crédito – Pago automático de servicios – Banelco)
</p>

<p>
<b>Oct 1997 – Ene 1999</b>
</p>
<ul class="org-ul">
<li>Citibank, N.A. Global Corporate Bank – e-Banking Solutions Latin America</li>
</ul>
<p>
MSE LATAM Payments (Matter Subject Expert PayLink ISO 9000 Certificated System)
</p>

<p>
<b>May 1986 – Oct 1997</b>
</p>
<ul class="org-ul">
<li>Credit Lyonnese Argentina</li>
</ul>
<p>
Analista Funcional – Líder de Proyectos (Pago automático de Servicios – Recaudaciones – Tarjetas de Crédito – Banelco)
</p>
</div>
</div>

<div id="outline-container-orgheadline36" class="outline-3">
<h3 id="orgheadline36">Educación</h3>
<div class="outline-text-3" id="text-orgheadline36">
<p>
1989 – 1994
Universidad de Buenos Aires – UBA, Buenos Aires, Argentina                  
Licenciado en Sistemas de Información de las Organizaciones
</p>

<p>
1983 – 1988
Universidad de Buenos Aires – UBA, Buenos Aires, Argentina                  
Contador Público Nacional (Incompleta: 5 años académicos completados)
</p>

<p>
1983 – 1988
Universidad de Buenos Aires – UBA, Buenos Aires, Argentina                  
Licenciado en Administración de Empresas (Incompleta: 5 años académicos completados)
</p>

<p>
2000 – 2004
Universidad de Buenos Aires – UBA, Buenos Aires, Argentina                  
Licenciado en Filosofía (Incompleta: 4 años académicos completados)
</p>

<p>
2003 – 2005
Universidad Tecnológica Nacional – UBA, Avellaneda, Pcia . de Bs. As., Arg.             
Capacitación Docente con Título Habilitante-
</p>
</div>

<div id="outline-container-orgheadline37" class="outline-4">
<h4 id="orgheadline37">Cursos de capacitación (últimos años):</h4>
<div class="outline-text-4" id="text-orgheadline37">
<ul class="org-ul">
<li>Scrum Planning – Globant Argentina 2017, 4 hours.</li>
<li>Product Management – Globant Argentina 2017, 4 hours.</li>
<li>Kanban system and flow Management – Globant Argentina 2017, 8 hours.</li>
<li>Story Mapping – Globant Argentina 2016, 4 hours.</li>
<li>Agile Initial – Globant Argentina 2016, 14 hours.</li>
<li>SEI’s Introduction to CMM – TÜV Rheinland India – Argentina, 2004, 16 hours.</li>
<li>SEI’s CBA IPI Assessment Team Training course – TÜV Rheinland India – Argentina, 2004, 30 hours.</li>
<li>Rational Rose Fundamentals – IBM Argentina, 2004, 18 hours.</li>
<li>Rational Clear Case Fundamentals – IBM Argentina, 2004, 18 hours.</li>
<li>UML y Rational Rose Enterprise Edition – IBM Argentina, 2003, 30 hours.</li>
</ul>
</div>
</div>
</div>


<div id="outline-container-orgheadline38" class="outline-3">
<h3 id="orgheadline38">Certificaciones</h3>
<div class="outline-text-3" id="text-orgheadline38">
<p>
Assessment Team Member Certificate - TÜV Rheinland 
10/2004
</p>
</div>
</div>

<div id="outline-container-orgheadline39" class="outline-3">
<h3 id="orgheadline39">Información Adicional</h3>
<div class="outline-text-3" id="text-orgheadline39">
<p>
Ciudadanía Italiana (pasaporte comunitario vigente)
</p>
</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<p class="author">Author: ignacio paz posse</p>
<p class="date">Created: 2018-05-28 Mon 09:04</p>
<p class="validation"><a href="http://validator.w3.org/check?uri=referer">Validate</a></p>
</div>