@media all {
    body{
        background:url("isoLogoWaika.png") -38em 10em no-repeat ;
        background-blend-mode:hue;
        background-size:93%;
        z-index:9999;
        position:relative!important;
        font-family: Inconsolata;
        font-size:1.2em;
    }
    
    body:before {  
        background:url("waikaFinalLogo-01.png") -3em 0 no-repeat ;
        background-size:100%;
        height:22em;
        width: 96%;   
        padding:0; 
        display:block;  
        content: ""; } 

/*------------------------------------*\
	LISTS
\*------------------------------------*/
/*ul{
	width:760px;
	margin-bottom:20px;
	overflow:hidden;
	border-top:1px solid #ccc;
}
 */
    
    ul{
        list-style-type: square;
    }
    div.competencias ul.org-ul li{
	line-height:1.5em;
	border-bottom:1px solid #ccc;
	float:left;
	display:inline;
    }
    div.competencias ul.org-ul li	{ width:50%;}


    div.competencias u.org-ul {
        list-style:     none;
        margin:         0.75em 0;
        padding:        0 1em;
    }

    div.competencias ul.org-ul li:before {
    content:        "";
    border-color:   transparent #555;
    border-style:   solid;
    border-width:   0.35em 0 0.35em 0.45em;
    display:        block;
    height:         0;
    left:           -1em;
    position:       relative;
    top:            1.15em;
    width:          0;
    }

    h3{
            clear:both;
    }

    
     p{    
     /*   font-family: 'Titillium Web', sans-serif; */
        font-family: 'Lora', serif;
    }
    
    ul.org-ul li{
        padding:0;
    margin-left:-1em;
       
    }
    ul.org-ul + p{line-height: 1.1em;}
}
/*
ul.org-ul + p > b{
				display:block;
				color:#333;
				text-align: right;
				border:1px solid #dedede;
				border-width:0 0 1px 0;
				margin-right:3%
}
*/
    h1, h2,h3{
    /* font-family: 'Titillium Web', sans-serif; */

    font-family: 'Arimo', sans-serif;
    }
    p b{ 
     font-family: 'Arimo', sans-serif;
     }

/* putting pictures of each one */    
    h2#orgheadline4:before{
     content:"";
        display:block;
        width:150;
        height:100px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("team.jpg") 0 2px no-repeat;
        background-size:750px;     
        
        
    }
    h2#orgheadline5:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("fiorella.jpg") 0 2px no-repeat;
        background-size:200px;
    } 

    h2#orgheadline9:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("eugenia.jpg") 0 2px no-repeat;
        background-size:200px;
    } 

    h2#orgheadline21:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("eugeniaSoria.jpg") 0 2px no-repeat;
        background-size:200px;
    } 

    h2#orgheadline27:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("hector.jpg") 0 2px no-repeat;
        background-size:200px;
    } 


    h2#orgheadline28:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("ignacio_square.jpg") 0 2px no-repeat;
        background-size:200px;
    } 
    
        h2#orgheadline32:before{
        content:"";
        display:block;
        width:150;
        height:133px;
        border:1px solid #ccc;
        border-width:0 0 1px 0;
        background:url("fabian.jpg") 0 2px no-repeat;
        background-size:200px;
    } 
    
    

    div#meta
    ,#postamble
    ,#table-of-contents{display:none;}
    
    div.equipo{
        font-family:sans-serif;
    }
    div.equipo ul.org-ul{
        margin:0;
        padding-left:1em;;
        line-height:normal;
        margin-top:1.2em;
        
    }
    div.equipo ul.org-ul + p{
        padding:0;
        margin:0;
               color:#333;
        padding-left:3em;
    }
ul.org-ul li{
   
}
ul.org-ul + p{
    line-height:.9em;
    color:#666;
    margin-left:1em;
    margin:0 1em;
    padding:0;
    font-family: Aritmo,sans-serif;
    font-size:1em;
    
}
/*
#triple li	{ width:33.333%; }
#quad li		{ width:25%; }
#six li		{ width:16.666%; }
    */
